@font-face {
  font-family: "Victor Mono";
  src: url("./victormono/woff2/VictorMono-Regular.woff2") format("woff2"),
    url("./victormono/woff/VictorMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Victor Mono";
  src: url("./victormono/woff2/VictorMono-Italic.woff2") format("woff2"),
    url("./victormono/woff/VictorMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Victor Mono";
  src: url("./victormono/woff2/VictorMono-Bold.woff2") format("woff2"),
    url("./victormono/woff/VictorMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Victor Mono";
  src: url("./victormono/woff2/VictorMono-BoldItalic.woff2") format("woff2"),
    url("./victormono/woff/VictorMono-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

* {
  font-family: "Victor Mono", monospace;
}
