:root {
  --font-family: "Victor Mono", monospace;
  --background-color: #1e1e1e;
  --text-color: #e2e2e2;
  --text-color-darker: #bdbdbd;
  --page-width: 90rem;
  --page-padding: calc(1rem + 5vw);
}
