{% extends "section.html" %}

{% block body %}
{% set page_class = "blog list" %}
{% endblock body %}

{% block header %}
{% set current_section = "blog" %}
{{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="" role="document">
  <article>
    <h1>{{ section.title }}</h1>
    <div>{{ section.content | safe }}</div>
    <div>
      {% set index_path = current_path ~ "_index.md" | trim_start_matches(pat="/") %}
      {% set index = get_section(path=index_path) %}
      {% for page in index.pages %}
      <a href="{{ page.permalink }}">{{ page.title }} &rarr;</a>
      {% endfor %}
      {% for s in index.subsections %}
      {% set subsection = get_section(path=s) %}
      {% if subsection.pages %}
      {% for page in subsection.pages %}
      <a href="{{ page.permalink }}">{{ page.title }} &rarr;</a>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  </article>
</div>
{% endblock content %}