div.index {
  > div {
    justify-content: center;
  }

  pre {
    box-shadow: 1px 0 8px 1px #00000069;
    width: fit-content;
  }

  .slogan {
    min-height: calc(20rem + 10vh);
    display: flex;
    align-items: center;
    line-height: 1.6;

    h1 {
      font-weight: 100;

      span {
        font-weight: 800;
        // background: #00ff74;
        // color: black;
        // padding: 0.1rem 0.5rem;
      }
    }

    > div:first-of-type {
      max-width: 40rem;
    }
  }
}

.authwindow {
  width: 100%;
  flex: 1;
  margin-left: 3rem;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 80rem) {
    display: none;
  }

  img {
    max-width: 25rem;
    box-shadow: 1px 0 8px 1px #00000069;
    width: 100%;
    border-radius: 1rem;
  }
}
