{% import 'macros/header.html' as macros_header -%}
{% import 'macros/head.html' as macros_head -%}
{% import 'macros/footer.html' as macros_footer -%}


<!DOCTYPE html>
<html lang="{{ config.extra.language_code }}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ get_url(path='index.css') | safe }}" />
  <title>keygate.io</title>
</head>

{# #}
{% block body %}{% set page_class="" %}{% endblock body %}

<body>
  <div class="{{ page_class }} page">
    {% block header %}
    {{ macros_header::header(current_section="/") }}
    {% endblock header %}

    <div>
      {% block content %} {% endblock %}
    </div>

  </div>

  {% block footer %}
  {{ macros_footer::footer() }}
  {% endblock footer %}


  <script type="module" src="{{ get_url(path='index.js' ) | safe }}"></script>
</body>

</html>