{% extends "base.html" %}

{% block seo %}
{{ super() }}
{% set title = "Keygate" %}
{% block body %}{% set page_class="index" %}{% endblock body %}
{% set description = "Never waste time on authentication and authorization again. Keygate is the final open-source
identity solution." %}

{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}


{% block content %}

<div class="slogan">
  <div>
    <h1>Never waste time on <span>authentication</span> and <span>authorization</span> again.</h1>
    {#
    <pre><code>$ docker run -d -p 3000:3000 ghcr.io/keygateio/keygate:latest</code></pre> #}

    <h1><b>Coming End of 2022</b></h1>
  </div>
  <div class="authwindow">
    <img src="/loginpage.png" alt="Keygate Login Page" />
  </div>
</div>

{% endblock content %}